---
---

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap&text=%E2%86%90|%E2%86%92');

@font-face {font-family: "APL385";src: url("{{ site.baseurl}}/assets/Apl385.ttf");}

.cs-home a {
    font-size: 1.5em;
    padding-bottom: 0.4ex;
    text-decoration: dotted 2px;
    color: #fff;
}

.column {float: left;}
.column-33 {width: 33%;}
.column-50 {width: 49%;}

.column:not(:first-child) {
    padding-left: 8px;
}

// Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    width: 100%;
    //border-collapse: collapse;
    border-spacing: 0;
    border: solid 2px;
    border-color: #fff;
    padding: 0.3em;
    box-shadow: 5px 10px #3B475E;
}

table tr {column-count: 2;}

table th {
    font-size: 1.4em;
    color: #fff;
    background-color: #ED7F00;
}

table td:first-child {column-span: 0;}
table td {
    padding-left: 0.2ex;
    font-size: 1.2em;
    color: #231F20;
    background-color: #F6F6D9;
}

td:not(:first-child) {border-left: solid 2px #999999;}
tr:nth-child(n+3) td {border-top: solid 2px #999999;}

body {
    background: #5A6D8F;    
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 2em;
    margin-bottom: 5em;
}

.course-content {
	top: 2.5em;
	position: relative;
	margin: 0 1vw;
}

h1, h2, h3, h4 {color: #fff;}

h2, h3, h4 {left: 3vw;}

pre, code {    
    color: #231F20;
    padding: 0.3em 0.7em 0.3em 0.7em;
    overflow: auto;
    font-family: "APL385";
    line-height: 1.2em;
}

pre > * {padding: 0;}
pre > * > * {padding: 0;}
pre {margin: 0 3vw;}

.language-APL {font-family: APL385;}
